**__pycache__**

data/test/*
data/train_det/*
data/vinh/*
data/*.png

weights/det/best_model.pth
weights/det/checkpoint_epoch_*.pth

weights/rec2/best_model.pth
weights/rec2/checkpoint_epoch_*.pth

weights/rec2_aug/best_model.pth
weights/rec2_aug/checkpoint_epoch_*.pth
weights/rec2_aug/*.png

tests/*

!tests/layouts_grid_view.png
!tests/det_annotations_grid.png
!tests/test_model.py
!tests/output2.png
!tests/compare.png
